<div class="login-box">
<h1>Login</h1>
<% if (messages.error) { %>
  <%= locals.messages.error %>
  <% } %>
  <head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/assets/style.css" >
  </head>
<form action="/login" method="POST">
    <div class="textbox">
      <input type="email" placeholder="Email" id="email" name="email" required>
    </div>
    <div class="textbox">
      <input type="password" placeholder="Password" id="password" name="password" required>
    </div>
    <div class="textbox">
    <button type="submit">Login</button>
  </div>
  </form>
  <a href="/register">Register</a>
</div>
 