<div class="Register-box">
<h1>Register</h1>
<head>
    <meta charset="utf-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="/assets/style.css" >
  </head>
<form action="/register" method="POST">
    <div class="textbox">
        <input type="text" placeholder="Name" id="name" name="name" required> 
    </div>
    <div class="textbox">
        <input type="email" placeholder="Email" id="email" name="email" required>
    </div>
    <div class="textbox">
        <input type="password" placeholder="Password" id="password" name="password" required>
    </div>
    <div class="textbox">
        <button type="submit">Register</button>
    </div>
</form>
<a href="/login">Login</a>
</div>